html {
    min-height: 5rem;
    min-width: 20rem;
}

.popup-header {
    background-color: #198754;
    height: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.popup-title{
    color: white;
    align-self: center;
    vertical-align: bottom;
    margin-left: 2px;
}
.popup-version{
    color: white;
    align-self: center;
    vertical-align: bottom;
    margin-right: 2px;
}